@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap");
@media screen and (max-width: 700px) {
  body {
    font-size: 8px;
  }
}
body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  background-color: black;
  cursor: default;
}

a {
  text-decoration: none;
  color: white;
  cursor: default;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

#bg1 {
  background-image: url(../img/desert_up.png);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg2 {
  background-image: url(../img/desert_down.png);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

header {
  width: auto;
  height: 15vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, black 100%);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header #logo {
  height: 80%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.2s ease-in-out;
  box-sizing: border-box;
  flex-grow: 1;
}
header #logo p {
  margin: 0;
  font-size: 0.5em;
  font-weight: 400;
}
header #logo #Capa_1 {
  fill: white;
  height: 4em;
  width: 4em;
  margin: 0.2em;
}
header #logo:hover {
  transform: scale(1.1);
}
header #menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 10;
}
header #menu nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  width: 100%;
}
header #menu .dropdown {
  position: relative;
  display: inline-block;
  padding: 0 1em 0 1em;
}
header #menu .dropdown i {
  padding: 0 1em 0 1em;
}
header #menu .dropdown:hover .dropdown-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
header #menu .dropdown:hover .dropbtn {
  transform: scale(1.1);
}
header #menu .dropbtn {
  transition: 0.2s ease-in-out;
}
header #menu .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
header #menu .dropdown-content a {
  color: white;
  padding: 1em 3em 1em 0em;
  min-width: 3em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
}
header #menu .dropdown-content a:hover {
  transform: scale(1.1);
}
header #social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  flex-grow: 1;
}
header #social #socControl {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header #social i {
  font-size: 1.1em;
  margin: 0 0.5em 0 0.5em;
  transition: 0.2s ease-in-out;
}
header #social i:hover {
  transform: scale(1.5);
}
header #social #shop {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  box-sizing: border-box;
}
header #social #shop div {
  height: 100%;
  padding: 0.5em;
}
header #social #shop div p {
  margin: 0;
  font-size: 0.7em;
}
header #social #shop div:nth-of-type(1) {
  border-right: 1px solid white;
}

#sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
#banner {
  text-align: center;
  text-transform: uppercase;
  background: radial-gradient(circle, rgba(96, 48, 34, 0.5) 0%, rgba(96, 48, 34, 0) 47%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-shadow: 0 0 60px #000000;
}
#banner p {
  font-size: 1em;
  font-weight: 400;
  margin: 1.5em;
  letter-spacing: 0.1em;
  animation: text-focus-in 1s ease-in 1s both;
}
#banner h1 {
  font-size: 3em;
  font-weight: 100;
  margin: 0px;
  letter-spacing: 0.1em;
  animation: text-focus-in 1s ease-in both;
}
#banner i {
  transition: 0.2s ease-in-out;
}
#banner i:hover {
  transform: scale(1.1);
}

#hexgrad {
  height: auto;
  width: auto;
  background: linear-gradient(#603022, #eed9d8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#hexControl {
  height: 1200px;
  width: 1200px;
  margin: 0;
  padding: 0;
  position: relative;
}

#hexagon1 {
  height: 30%;
  width: 30%;
  background-image: url(../img/turkey-355498_1280.jpg);
  background-position: center center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 4%;
  top: 5%;
  filter: brightness(0.5) sepia(0.7);
  transition: 0.3s;
}
#hexagon1:hover {
  filter: brightness(1) sepia(0);
  transform: scale(1.02);
}
#hexagon1 #hexInside {
  margin-top: 10rem;
}
#hexagon1 #hexInside h1 {
  margin: 0.7rem;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
#hexagon1 #buttonHex {
  padding: 0.5em;
  border: 1px solid white;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
}
#hexagon1 #buttonHex:hover {
  transform: scale(1.2);
}

#hexagon2 {
  height: 30%;
  width: 30%;
  background-image: url(../img/morocco-123970_1280.jpg);
  background-position: center center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 35%;
  top: 5%;
  filter: brightness(0.5) sepia(0.7);
  transition: 0.3s;
}
#hexagon2:hover {
  filter: brightness(1) sepia(0);
  transform: scale(1.02);
}
#hexagon2 #hexInside {
  margin-top: 10rem;
}
#hexagon2 #hexInside h1 {
  margin: 0.7rem;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
#hexagon2 #buttonHex {
  padding: 0.5em;
  border: 1px solid white;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
}
#hexagon2 #buttonHex:hover {
  transform: scale(1.2);
}

#hexagon3 {
  height: 30%;
  width: 30%;
  background-image: url(../img/quad-2409489_1280.jpg);
  background-position: center center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 66%;
  top: 5%;
  filter: brightness(0.5) sepia(0.7);
  transition: 0.3s;
}
#hexagon3:hover {
  filter: brightness(1) sepia(0);
  transform: scale(1.02);
}
#hexagon3 #hexInside {
  margin-top: 10rem;
}
#hexagon3 #hexInside h1 {
  margin: 0.7rem;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
#hexagon3 #buttonHex {
  padding: 0.5em;
  border: 1px solid white;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
}
#hexagon3 #buttonHex:hover {
  transform: scale(1.2);
}

#hexagon4 {
  height: 30%;
  width: 30%;
  background-image: url(../img/desert-fox-2444230_1280.jpg);
  background-position: center center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 19.5%;
  top: 28.5%;
  filter: brightness(0.5) sepia(0.7);
  transition: 0.3s;
}
#hexagon4:hover {
  filter: brightness(1) sepia(0);
  transform: scale(1.02);
}
#hexagon4 #hexInside {
  margin-top: 10rem;
}
#hexagon4 #hexInside h1 {
  margin: 0.7rem;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
#hexagon4 #buttonHex {
  padding: 0.5em;
  border: 1px solid white;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
}
#hexagon4 #buttonHex:hover {
  transform: scale(1.2);
}

#hexagon5 {
  height: 30%;
  width: 30%;
  background-image: url(../img/hut-945496_1280.jpg);
  background-position: center center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50.5%;
  top: 28.5%;
  filter: brightness(0.5) sepia(0.7);
  transition: 0.3s;
}
#hexagon5:hover {
  filter: brightness(1) sepia(0);
  transform: scale(1.02);
}
#hexagon5 #hexInside {
  margin-top: 10rem;
}
#hexagon5 #hexInside h1 {
  margin: 0.7rem;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
#hexagon5 #buttonHex {
  padding: 0.5em;
  border: 1px solid white;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
}
#hexagon5 #buttonHex:hover {
  transform: scale(1.2);
}

#hexagon6 {
  height: 30%;
  width: 30%;
  background-image: url(../img/volkswagen-569315_1280.jpg);
  background-position: center center;
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 35%;
  top: 52%;
  filter: brightness(0.5) sepia(0.7);
  transition: 0.3s;
}
#hexagon6:hover {
  filter: brightness(1) sepia(0);
  transform: scale(1.02);
}
#hexagon6 #hexInside {
  margin-top: 10rem;
}
#hexagon6 #hexInside h1 {
  margin: 0.7rem;
  text-shadow: 0px 0px 20px black;
  font-weight: 400;
}
#hexagon6 #buttonHex {
  padding: 0.5em;
  border: 1px solid white;
  font-weight: 400;
  font-size: 0.8rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
}
#hexagon6 #buttonHex:hover {
  transform: scale(1.2);
}

footer {
  height: 80%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
footer #footerControl {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer #footerControl #mission {
  text-align: center;
  flex-grow: 2;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
footer #footerControl #mission h1 {
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
  padding: 1em;
}
footer #footerControl #mission p {
  font-weight: 100;
  margin: 0;
  text-shadow: 0 0 10px black;
}
footer #footerControl #navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 5;
  width: 100%;
}
footer #footerControl #navigation div:nth-child(-n+5) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
footer #footerControl #navigation .bottomNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1em;
  box-sizing: border-box;
  width: 1666.6666666667%;
  height: 100%;
}
footer #footerControl #navigation .bottomNav h4 {
  margin: 0;
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 1em;
}
footer #footerControl #navigation .bottomNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.5em;
  font-weight: 100;
  width: 100%;
  padding-bottom: 1em;
}
footer #footerControl #navigation .bottomNav ul li {
  padding: 0.5em;
}
footer #footerControl #navigation .bottomNav #socControl {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer #footerControl #navigation .bottomNav i {
  font-size: 1.1em;
  margin: 0 0.5em 0 0.5em;
  transition: 0.2s ease-in-out;
}
footer #footerControl #navigation .bottomNav i:hover {
  transform: scale(1.5);
}
footer #footerControl #copyrights {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  font-size: 0.5em;
  flex-grow: 1;
  padding: 1em 0 0 0;
}

/*# sourceMappingURL=style.css.map */
