@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap");

@media screen and (max-width: 601px) {
  body{
    font-size: 8px;}}
/*$img1: url(../img/turkey-355498_1280.jpg);
$img2: url(../img/morocco-123970_1280.jpg);
$img3: url(../img/quad-2409489_1280.jpg);
$img4: url(../img/desert-fox-2444230_1280.jpg);
$img5: url(../img/hut-945496_1280.jpg);
$img6: url(../img/volkswagen-569315_1280.jpg);
*/

$left: 25%;
$right: 25%;

$img: (
  1: url(../img/turkey-355498_1280.jpg),
  2: url(../img/morocco-123970_1280.jpg),
  3: url(../img/quad-2409489_1280.jpg),
  4: url(../img/desert-fox-2444230_1280.jpg),
  5: url(../img/hut-945496_1280.jpg),
  6: url(../img/volkswagen-569315_1280.jpg)
);

$top: (
    1: 5%,
    2: 5%,
    3: 5%,
    4: 28.5%,
    5: 28.5%,
    6: 52%,
);

$left: (
    1: 4%,
    2: 35%,
    3: 66%,
    4: 19.5%,
    5: 50.5%,
    6: 35%,
);

$hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
html {
  
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  background-color: black;
}

#bg1 {
  background-image: url(../img/desert_up.png);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg2 {
  background-image: url(../img/desert_down.png);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

header {
  width: auto;
  height: 15vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#sec1 {
  @include flexCenter;
  height: 85vh;
}

#banner {
  text-align: center;
  text-transform: uppercase;

  @include flexCenter;

  text-shadow: 0 0 60px #000000;

  p {
    font-size: 1em;
    font-weight: 200;
    margin: 0px;
  }

  h1 {
    font-size: 3em;
    font-weight: 400;
    margin: 0px;
  }
}

#hexgrad {
  height: auto;
  width: auto;
  background: linear-gradient(#603022, #eed9d8);
  @include flexCenter;
}

#hexControl {
  height: 1200px;
  width: 1200px;
  margin: 0;
  padding: 0;
  position: relative; 
  
}

@for $i from 1 through 6 {  
  #hexagon#{$i} {
    height: 30%;
    width: 30%;
    background-image: map-get($img, $i);
    background-position: center center;
    background-size: cover;
    clip-path: $hexagon;
    -webkit-clip-path:$hexagon;
    @include flexCenter;
    flex-direction: column;
    
    position: absolute;
    left: map-get($left, $i);
    top: map-get($top, $i);

    //loop po mapie z top left etc zrob
    
    filter: brightness(0.5) sepia(0.7);
    transition: 0.3s;

    &:hover {
         filter: brightness(1) sepia(0);
         transform: scale(1.02);
    }

    #hexInside {
      margin-top: 10rem;
      

      h1 {
        margin: 0.7rem;
        text-shadow: 0px 0px 20px black;
        font-weight: 400;
      }
    }

    #buttonHex {
      padding: 0.5em;
      border: 1px solid white;
      font-weight: 400;
      font-size: 0.8rem;
      background-color: rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
          transform: scale(1.2)
      }
    }
  }
}

#sec2 {
  height: auto;
}

footer {
  height: 80%;
  width: 100%;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  
  position: absolute;
  bottom: 0;
}
