@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400&display=swap");



// hexagon maps

$img: (
  1: url(../img/turkey-355498_1280.jpg),
  2: url(../img/morocco-123970_1280.jpg),
  3: url(../img/quad-2409489_1280.jpg),
  4: url(../img/desert-fox-2444230_1280.jpg),
  5: url(../img/hut-945496_1280.jpg),
  6: url(../img/volkswagen-569315_1280.jpg)
);

$top: (
  1: 4%,
  2: 4%,
  3: 4%,
  4: 27.5%,
  5: 27.5%,
  6: 51%
);

$left: (
  1: 4%,
  2: 35%,
  3: 66%,
  4: 19.5%,
  5: 50.5%,
  6: 35%
);

$hexagon: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

//mixin for flex

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// GLOBAL STYLES

body,
html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  background-color: black;
  scroll-behavior: smooth;
  cursor: default;
}

a {
  color: white;
  
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

//BACKGROUNDS

#bg1 {
  background-image: url(../img/desert_up.png);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg2 {
  background-image: url(../img/desert_down.png);
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

//HEADER

header {
  width: auto;
  height: 15vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%
  );

  position: sticky;
  position: -webkit-sticky;
  z-index: 6;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: white;
    @include flexCenter;
    flex-direction: column;
  }

  #logo {
    height: 80%;
    width: auto;
    @include flexCenter;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    flex-grow: 1;

    p {
      margin: 0;
      font-size: 0.5em;
      font-weight: 400;
    }

    #Capa_1 {
      fill: white;
      height: 4em;
      width: 4em;
      margin: 0.2em;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  #menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 10;

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 200;
      width: 100%;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      padding: 0 1em 0 1em;

      i {
        padding: 0 1em 0 1em;
      }

      &:hover .dropdown-content {
        @include flexCenter;
      }

      &:hover .dropbtn {
        transform: scale(1.1);
      }
    }

    .dropbtn {
      transition: 0.2s ease-in-out;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      z-index: 1;
    }

    .dropdown-content a {
      color: white;
      padding-top: 1em;
      min-width: 6em;
      text-decoration: none;
      @include flexCenter;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    padding-right: 1em;

    #socControl {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .socIcon {
      background: url(../img/HEXAGON.svg) center no-repeat;
      padding: 1em;
    }

    i {
      font-size: 1.1em;
      margin: 0 0.5em 0 0.5em;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.3);
      }
    }

    #shop {
      @include flexCenter;
      border: 1px solid white;

      box-sizing: border-box;

      div {
        height: 100%;
        padding: 0.5em;
        p {
          margin: 0;
          font-size: 0.7em;
        }
      }

      div:nth-of-type(1) {
        border-right: 1px solid white;
      }
    }
  }
}

//MAIN

#sec1 {
  @include flexCenter;
  height: 85vh;
}

@keyframes textFocusIn {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

#banner {
  text-align: center;
  text-transform: uppercase;
  background: radial-gradient(
    circle,
    rgba(96, 48, 34, 0.5) 0%,
    rgba(96, 48, 34, 0) 47%
  );
  @include flexCenter;
  height: 100%;
  width: 100%;
  text-shadow: 0 0 60px #000000;

  p {
    font-size: 1em;
    font-weight: 400;
    margin: 1.5em;
    letter-spacing: 0.1em;
    animation: textFocusIn 3s ease-in 1s both;
  }

  h1 {
    font-size: 3em;
    font-weight: 100;
    margin: 0px;
    letter-spacing: 0.1em;
    animation: textFocusIn 2s ease-in both;
  }

  i {
    transition: 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

//HEXAGONS

#hexgrad {
  height: auto;
  width: auto;
  background: linear-gradient(#603022, #eed9d8);
  @include flexCenter;
}

#hexControl {
  height: 1080px;
  width: 1080px;
  margin: 0;
  padding: 0;
  position: relative;
}

@for $i from 1 through 6 {
  #hexagon#{$i} {
    height: 30%;
    width: 30%;
    background-image: map-get($img, $i);
    background-position: center center;
    background-size: cover;
    clip-path: $hexagon;
    -webkit-clip-path: $hexagon;
    @include flexCenter;
    flex-direction: column;

    position: absolute;
    left: map-get($left, $i);
    top: map-get($top, $i);

    filter: brightness(0.5) sepia(0.7);
    transition: 0.3s;

    &:hover {
      filter: brightness(1) sepia(0);
      transform: scale(1.02);
    }

    #hexInside {
      margin-top: 10rem;

      h1 {
        margin: 0.7rem;
        text-shadow: 0px 0px 20px black;
        font-weight: 400;
      }
    }

    #buttonHex {
      padding: 0.5em;
      border: 1px solid white;
      font-weight: 400;
      font-size: 0.8rem;
      background-color: rgba(0, 0, 0, 0.2);
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

//FOOTER

footer {
  height: 80%;
  width: 100%;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  @include flexCenter;
  position: absolute;
  bottom: 0;
}

#footerControl {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

#mission {
  text-align: center;
  flex-grow: 2;
  border-top: 1px solid rgba(256, 256, 256, 0.5);
  border-bottom: 1px solid rgba(256, 256, 256, 0.5);
  padding: 0 0 1em 0;
  width: 100%;

  h1 {
    text-transform: uppercase;
    font-weight: 200;
    margin: 0;
    padding: 1em;
  }

  p {
    font-weight: 100;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
}

#navigation {
  display: flex;
  align-items: flex-end;

  flex-grow: 3;
  width: 100%;
  height: 75%;
}

.bottomNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(256, 256, 256, 0.5);
  padding: 0.7em;
  box-sizing: border-box;
  flex: 1;

  h4 {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 1em;
    font-size: 0.7em;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-weight: 100;
    width: 100%;
    padding-bottom: 1em;

    li {
      padding: 0.5em;
      transition: 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  #socControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .socIcon {
    background: url(../img/HEXAGON.svg) center no-repeat;
    padding: 1em;
  }

  i {
    font-size: 1.2em;

    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }

  a {
    text-decoration: none;
    color: white;
    height: 100%;
  }

  #logo {
    height: 100%;
    width: auto;
    transition: 0.2s ease-in-out;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 1;

    p {
      margin: 0;
      font-size: 1em;
      font-weight: 400;
      text-align: center;
    }

    #Capa_1 {
      fill: white;
      height: 4em;
      width: 4em;
      margin: 0.2em;
    }

    
  }
}
.bottomNav:nth-child(-n + 5) {
  border-right: 1px solid rgba(256, 256, 256, 0.5);
}

#copyrights {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 100;
  font-size: 0.5em;
  flex-grow: 1;
  padding: 1em 0 0 0;
}


@media (max-width: 700px) {
  body {
    font-size: 8px;
  }

  #hexControl {
    height: 600px;
    width: 600px;
    
  }
}

@media (max-width: 1080px) {
  #hexControl {
    height: 800px;
    width: 800px;
    
  }

  body {
    font-size: 10px;
  }
}