@import url("https://fonts.googleapis.com/css?family=Raleway:400,600&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: aliceblue;
}

#bg1 {
  background-image: url(/Users/julia/Desktop/SZKOLA/DD/MANDATORY_ASSIGNMENT/page/img/16678787010_e305f5df2d_o.jpg);
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#bg2 {
  background-image: url(/Users/julia/Desktop/SZKOLA/DD/MANDATORY_ASSIGNMENT/page/img/hex-resixe.jpg);
  height: 150%;
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: auto;
  height: 100px;
  background-color: black;
  opacity: 0.5;
  position: sticky;
}

#sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 914px;
}

#banner {
  text-align: center;
  text-transform: uppercase;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 30px 0px;
  text-shadow: 0 0 60px #000000;
}

#banner p {
  font-size: 25px;
  font-weight: 400;
  margin: 0px;
}

#banner h1 {
  font-size: 60px;
  font-weight: 600;
  margin: 0px;
}

#sec2 {
  height: 1096px;
}

footer {
  height: 275px;
  background-color: black;
  opacity: 0.5;
}
